// Move the content down for the banner and WP admin bar.
@media screen and (min-width: $small-up) {
	body.admin-bar {
		padding-top: $wpc-banner-height;
	}
}

// Modify the WP admin bar.
#wpadminbar {
	background: $wpc-banner-bg-color;
	padding: 5px 33px;
	position: fixed !important;
}

#wpc-banner {
	display: block;
	background: $wpc-banner-bg-color;
	width: 100%;
	height: $wpc-banner-height;
	color: $wpc-banner-color;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2000;

	// Move the banner down for the WP admin bar.
	body.admin-bar & {
		top: $wpc-admin-bar-height;

		@media screen and (min-width: $wpc-admin-bar-breakpoint) {
			top: $wpc-admin-bar-height-desktop;
		}
	}

	a {
		color: inherit;
	}
}