#wpc-get-involved {
	background: $wpc-get-involved-bg;
	text-align: center;
	line-height: $wpc-get-involved-height;
	padding: 25px 0;
	overflow: auto;
	position: relative;
	vertical-align: middle;

	.wpc-get-involved-label {
		display: block;
		font-size: 24px;
		line-height: $wpc-get-involved-height;
		text-transform: uppercase;
		margin: 0 0 10px 0;
		opacity: 0.75;
		vertical-align: middle;

		@media screen and (min-width: $medium-up) {
			display: inline-block;
			margin: 0;
		}
	}

	ul.social-media-icons {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
		overflow: auto;
		vertical-align: middle;
		line-height: $wpc-get-involved-height;
		opacity: 0.75;

		li {
			display: block;
			float: left;
			list-style: none;
			margin: 0 15px;
			padding: 0;
			line-height: $wpc-get-involved-height;

			a {
				display: block;
			}

			img {
				display: block;
				width: auto;
				height: $wpc-get-involved-height;
				line-height: $wpc-get-involved-height;
				vertical-align: middle;
				margin: 0;
			}
		}
	}
}

// Mailing list
#wpc-mailing-list {
	background: $wpc-get-involved-bg;
	padding: 40px 0 50px 0;
	font-size: 0.9em;
	text-align: center;
	color: #fff;

	h2 {
		font-size: 1.5rem;
		line-height: 1.1;
		font-weight: 500;
		text-transform: uppercase;
		margin: 0;
	}

	input {
		margin: 0;
		@include set-placeholder-color( #444 );
	}

	.gform_wrapper {
		width: 100%;
		max-width: 750px;
		margin: 0 auto;
		padding: 0;
		position: relative;

		.ginput_container {
			margin: 0;
		}

		.validation_error {
			color: #fff;
			border-top: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}

		input {
			border: 0;
		}

		// Hide the name field
		#field_4_5 {
			display: none;
		}

		// Email address field
		#field_4_2 {

			// Hide the label.
			label {
				@include for-screen-reader();
			}

			input {
				width: 100%;
				height: 45px;
				line-height: 45px;
				padding: 0.75em;
				text-align: left;
			}
		}

		.gform_footer {
			margin: 0;
			padding: 0;

			.gform_button {
				background: $wpc-royal-blue;
				color: #fff;
				width: 100%;
				height: 45px;
				font-size: 1.15em;
				line-height: 45px;
				font-weight: 400;
				padding: 0;
				text-transform: uppercase;
			}
		}
	}
}

// Move the subscribe button
@media screen and (min-width: 600px) {

	#wpc-mailing-list {

		.gform_wrapper {

			// Email address field
			#field_4_2 {

				input {
					padding-right: 150px;
				}
			}

			.gform_footer {

				.gform_button {
					position: absolute;
					right: 0;
					top: 0;
					width: 140px;
				}
			}
		}
	}
}

// Expand the mailing list
@media screen and (min-width: 800px) {

	#wpc-mailing-list {

		h2 {
			font-size: 1.7rem;
			line-height: 1.2;
		}
	}
}

#wpc-footer {
	background: $wpc-footer-bg-color;
	padding: 40px 0;
	color: $wpc-footer-color;
	font-size: $wpc-footer-font-size;
	line-height: $wpc-footer-line-height;
	text-align: center;

	* {
		font-size: inherit;
		line-height: inherit;
	}

	a {
		color: inherit;
	}

	p {
		margin: 10px 0 0 0;
	}

	.wpc-logo {
		display: block;
		background: url( '../images/wpcampus-black-logo-tagline.svg' );
		background-size: auto 100%;
		width: 300px;
		height: 50px;
		margin: 0 auto 15px auto;
		opacity: 0.7;

		img {
			height: 50px;
		}

		&:hover {
			opacity: 1;
		}
	}

	.wpc-footer-menu {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
		overflow: auto;

		li {
			display: block;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				color: inherit;
			}

			&:before {
				content: '-';
				padding: 0 5px;
			}

			&:first-child:before {
				display: none;
			}
		}
	}

	.disclaimer {
		font-style: italic;
	}

	.social-media-icons {
		display: inline-block;
		margin: 25px 0 0 0;
		border: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		li {
			display: block;
			float: left;
			margin: 0 10px;
			border: 0;
			padding: 0;
			list-style: none;

			img {
				display: block;
				width: auto;
				height: 30px;
				margin: 0;
			}

			a {
				display: block;
				opacity: $wpc-footer-opacity;

				&:hover {
					opacity: $wpc-footer-opacity-hover;
				}
			}
		}
	}

	.copyright {
		font-size: 0.8rem;
		line-height: 1;
		margin-top: 20px;
		opacity: 0.8;
	}
}