#wpc-hero {
	width: 100%;
	margin: 0;
	overflow: hidden;

	> .inside {
		max-width: none;
		padding: 40px 0;
		position: relative;
	}

	#wpc-hero-bg {
		position: absolute;
		top: -15%;
		left: -15%;
		width: 130%;
		height: 130%;
		background: url('../images/canisius-hero-inside-small.jpg') no-repeat center center #000;
		background-size: cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/canisius-hero.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/canisius-hero.jpg', sizingMethod='scale')";
		-webkit-filter: blur(8px);
		z-index: -1;
		box-shadow: inset 0 0 150px #000;

		&:before {
			content: '';
			position: absolute;
			background: rgba(0, 0, 0, 0.5);
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		@media screen and (min-width:880px) {
			background-image: url('../images/canisius-hero-inside.jpg');
		}
	}

	body.front & {
		height: 100%;
		padding: 0;
		z-index: -1;

		> .inside {
			padding: 0;
		}

		#wpc-hero-bg {
			background-image: url('../images/canisius-hero-small.jpg');
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-filter: none;
			opacity: 1;
			
			&:before {
				display: none;
			}

			@media screen and (min-width:700px) {
				background-image: url('../images/canisius-hero.jpg');
			}
		}
	}

	.wpc-hero-title {
		margin: 0;
		text-align: center;
		font-size: 2.5rem;
		line-height: 1;
		font-weight: 500;
		color: rgba( #fff, 0.9 );
		text-transform: uppercase;
	}
}