#wpcampus-breadcrumbs {
	margin: 0 0 30px 0;
	color: #444;

	a {
		color: inherit;
	}

	ul, li {
		display: block;
		list-style-type:none;
		margin: 0;
		padding: 0;
		font-size: 0.9rem;
	}

	li {
		display: inline-block;

		&:before {
			content: '/';
			margin: 0 10px;
		}

		&:first-child:before {
			display: none;
		}
	}
}

.wpc-sponsor {

	h2 {
		font-size: 2rem;
		line-height: 1;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 35px;
	}

	h3 {
		font-size: 2.2rem;
		line-height: 2.8rem;
	}

	.wpc-sponsor-inside {
		border: 1px solid #e3e3e3;
		padding: 20px;
	}
}

#wpc-main {
	background: #fff;
	min-height: 200px;
	padding: 40px 0 50px 0;

	// Buttons
	.button {
		display: inline-block;
		background: $wpc-royal-blue;
		color: #fff;
		padding: 10px 15px;
		margin: 0;
		border-radius: 4px;

		&.secondary {
			background: $wpc-light-gray;
			color: #000;
		}

		&.red {
			background: $wpc-red;
			color: #fff;
		}

		&.block {
			display: block;
			width: 100%;
			margin: $paragraph-margin-vert 0;

			& + .block {
				margin-top: -10px;
			}
		}

		&.center {
			text-align: center;
		}

		&.start-registration {
			padding: 20px 15px;
			font-weight: bold;
		}
	}

	// Callouts.
	.callout {
		background: $wpc-light-gray;
		padding: 20px;
		margin: $paragraph-margin-vert 0;

		* {
			color: inherit;
		}

		&.primary {
			background: $wpc-royal-blue;
			color: #fff;
		}

		&.red {
			background: $wpc-red;
			color: #fff;
		}

		&.dark-blue {
	        background: $wpc-dark-blue;
	        color: #fff;
	    }

		&.center {
			text-align: center;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	// Captions
	figure {
		margin: $paragraph-margin-vert 0;
		border: 1px solid #F3F3F3;
		padding: 20px;
		border-radius: 5px;

		img {
			margin: 0 0 10px 0;
		}

		figcaption {
			font-size: 0.9rem;
		}
	}

	.wpc-articles {
		margin-top: 30px;

		article {
			border-top: 1px solid $wpc-light-gray;
			padding-top: 35px;
			margin-top: 45px;

			&:first-child {
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
			}
		}
	}

	.wpc-search-result-message {
		font-style: italic;

		.search-term {
			font-weight: bold;
		}
	}

	.wpc-content {
		min-height: 1px;

		.columns {
			overflow: auto;

			.column.two {
				@include span-columns(6);
			}
		}

		ul.columns.two {
			overflow: auto;
			margin-left: 1.25rem;

			li {
				float: left;
				width: 50%;
				list-style-position: inside;
			}
		}

		> *:first-child {
			margin-top: 0;
		}
	}

	.wpc-sidebar {
		min-height: 1px;
		margin: 3rem 0 0 0;
		padding: 2.6rem 0 0 0;
		border-top: 1px solid #eee;
		font-size: 0.9rem;

		.widget-title {
			font-size: 21px;
			line-height: 24px;
			font-weight: 300;
			color: #292F33;
			text-transform: none;
			margin: 0 0 0.8rem 0;
			padding: 10px;
			border-bottom: 1px solid rgba( 15, 70, 100, .12 );
		}

		h4 {
			font-weight: normal;
		}

		ol, ul {
			margin-left: 0;

			li {
				display: block;
				list-style: none;
				margin: 5px 0 0 0;
				padding: 0 !important;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		.widget {
			margin: $paragraph-margin-vert 0;
			border-radius: 5px;

			&.tribe-events-list-widget {

				.tribe-event-title {
					margin: 0;
				}
			}

			&.gform_widget {
				margin-top: 24px;

				.sidebar-title {
					margin-top: -43px;
					margin-bottom: 8px;
				}
			}

			&:first-child {
				margin-top: 0;
			}
		}

		.twitter-timeline {

			.timeline-Header {
				padding: 10px;
			}

			.timeline-Header-title {
				font-size: 20px;
				line-height: 1;
				font-weight: 300;
				text-transform: uppercase;
			}
		}

		// Mailing list form
		#gform_wrapper_4 {
			margin: 0;

			label {
				display: block;
				font-size: .9rem;
				font-weight: bold;
			}

			input {
				width: 100% !important;

				&[type=text] {
					height: auto;
				}
			}

			.gform_footer {
				margin: 0;
				padding: 0;
			}
		}
	}

	@media screen and (min-width: $medium-up) {

		body.has-sidebar & {

			.wpc-content {
				@include span-columns(9);
			}

			.wpc-sidebar {
				@include span-columns(3);
				margin: 0;
				border: 0;
				padding: 0;
			}
		}
	}
}

// Our map element.
#wpcampus-2017-map {
	width: 100%;
	height: 600px;
	border: 0;
	padding: 0;
	margin: 0 0 -6px 0;
}

// Style the map page.
body.page-template-template-map {

	#wpc-main {
		padding: 0;

		> .inside {
			max-width: 100%;
			padding: 0;
		}
	}
}