#wpcampus-breadcrumbs {
	margin: 0 0 30px 0;
	color: #444;

	a {
		color: inherit;
	}

	ul, li {
		display: block;
		list-style-type:none;
		margin: 0;
		padding: 0;
		font-size: 0.9rem;
	}

	li {
		display: inline-block;

		&:before {
			content: '/';
			margin: 0 10px;
		}

		&:first-child:before {
			display: none;
		}
	}
}

.wpc-sponsors {
	margin: 60px 0 30px 0;

	h2 {
		font-size: 2rem;
		line-height: 1;
		font-weight: 400;
		text-transform: uppercase;
	}

	h3 {
		font-size: 2.2rem;
		line-height: 2.8rem;
	}

	.wpc-sponsor {
		border: 1px solid #e3e3e3;
		padding: 20px;

		.wpc-sponsor-logo a {
			display: block;
		}

		> *:last-child,
		.wpc-sponsor-text *:last-child {
			margin-bottom: 0;
		}
	}

	&.sponsors-president {

		.wpc-sponsor {
			background: rgba(0,0,0,0.04);
			border: 0;
			padding: 30px;

			.wpc-sponsor-logo {
				background: #fff;
				padding: 20px;
				margin: 0 0 20px 0;

				img {
					margin: 0 auto;
				}
			}
		}
	}

	&.sponsors-vp {

		h2 {
			font-size: 1.6rem;
		}

		h3 {
			font-size: 1.8rem;
			line-height: 2.2rem;
		}

		.wpc-sponsor-logo img {
			width: 65%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.sponsors-grad {

		h2 {
			font-size: 1.6rem;
			border-bottom: 1px solid #e3e3e3;
			padding-bottom: 0.8em;
			margin-bottom: 1.4em;
		}

		h3 {
			font-size: 1.5rem;
			line-height: 2rem;
		}

		.wpc-sponsor {
			border: 0;
			border-bottom: 1px solid #e3e3e3;
			padding: 0 0 2em 0;
			margin: 0 0 2em 0;

			.wpc-sponsor-logo img {
				width: 52%;
			}

			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	&.sponsors-undergrad {

		h2 {
			font-size: 1.6rem;
			border-bottom: 1px solid #e3e3e3;
			padding-bottom: 0.8em;
			margin-bottom: 1.4em;
		}

		h3 {
			clear: none;
			font-size: 1.3rem;
			line-height: 1.8rem;
		}

		.wpc-sponsor {
			border: 0;
			padding: 0;
			margin: $paragraph-margin-vert 0;
			overflow: auto;

			.wpc-sponsor-logo {
				float: left;
				width: 200px;
				height: auto;
				margin: 2.2rem 2.2rem 2.2rem 0;

				img {
					margin: 0 auto;
				}

				@media screen and (min-width: $medium-up) {
					width: 300px;
				}
			}
		}
	}
}

#conference-schedule-container {

	.schedule-event {

		.event-title {

			.wpc-event-type {
				text-transform: uppercase;
				opacity: 0.7;
				font-weight: 600;
			}
		}
	}
}

body.single-schedule #wpc-main h1 .wpc-event-type {
	text-transform: uppercase;
	opacity: 0.7;
}

#wpc-main {
	background: #fff;
	min-height: 200px;
	padding: 40px 0 50px 0;

	h1 {
		text-transform: none;
	}

	// Buttons
	.button {
		display: inline-block;
		background: $wpc-royal-blue;
		color: #fff;
		padding: 15px;
		margin: 0;
		border-radius: 4px;
		text-align: center;

		&.secondary {
			background: $wpc-light-gray;
			color: #000;
		}

		&.red {
			background: $wpc-red;
			color: #fff;
		}

		&.block {
			display: block;
			width: 100%;
			margin: 1.8rem 0;

			& + .block {
				margin-top: -10px;
			}
		}

		&.center {
			margin: 0 auto;
		}

		&.start-registration {
			padding: 20px 15px;
			font-weight: bold;
		}
	}

	// Callouts.
	.callout {
		background: $wpc-light-gray;
		padding: 20px;
		margin: $paragraph-margin-vert 0;

		* {
			color: inherit;
		}

		&.primary {
			background: $wpc-royal-blue;
			color: #fff;
		}

		&.red {
			background: $wpc-red;
			color: #fff;
		}

		&.light-blue {
			background: rgba($wpc-royal-blue, 0.1);
		}

		&.dark-blue {
	        background: $wpc-dark-blue;
	        color: #fff;
	    }

		&.center {
			text-align: center;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	// Captions
	figure {
		margin: $paragraph-margin-vert 0;
		border: 1px solid #F3F3F3;
		padding: 20px;
		border-radius: 5px;

		img {
			margin: 0 0 10px 0;
		}

		figcaption {
			font-size: 0.9rem;
		}
	}

	.archive-category {
		opacity: 0.6;
		font-size: 1.2em;
		line-height: 1;
		text-transform: uppercase;
		margin: 0 0 $paragraph-margin-vert 0;
	}

	.article-meta {
		font-size: 0.95em;
		margin: -20px 0 $paragraph-margin-vert 0;
		opacity: 0.6;

		a {
			color: inherit;
		}
	}

	.wpc-articles {
		margin-top: 30px;

		article {
			border-top: 1px solid $wpc-light-gray;
			padding-top: 35px;
			margin-top: 45px;
			overflow: auto;

			.article-meta {
				margin-top: -10px;
			}

			&:first-child {
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
			}

			.article-thumbnail {
				float: left;
				width: 100px;
				height: 100px;
				margin: 0.8rem 30px 10px 0;
				border: 1px solid $wpc-light-gray;

				@media screen and (min-width: $medium-up) {
					width: 150px;
					height: 150px;
				}
			}

			&.speakers {
				.article-thumbnail {
					margin-bottom: 20px;
				}
			}

			.article-speaker {
				overflow: auto;

				.article-speaker-meta {
					display: block;
					font-style: italic;
					margin: 10px 0 0 0;
				}

				.article-speaker-social-media {
					display: block;
					list-style: none;
					border: 0;
					margin: 10px 0 0 0;
					padding: 0;
					text-align: left;

					li {
						display: inline-block;
						list-style: none;
						margin: 0 10px 0 0;
						border: 0;
						padding: 0;
						font-size: 0.9em;
						line-height: 1.8;

						a {
							display: block;
							background-color: rgba(#000, 0.05);
							padding: 5px 15px;
							color: inherit;
							text-align: center;
							border-radius: 5px;
							text-decoration: none;
							transition: background-color 1s ease;

							&:hover {
								background-color: rgba(#000, 0.2);
							}
						}

						&.twitter {
							font-weight: bold;

							a {
								background-color: $twitter-blue;
								color: #fff;

								&:hover {
									background-color: darken($twitter-blue, 20%);
								}
							}
						}

						&.facebook {
							font-weight: bold;

							a {
								background-color: $facebook-blue;
								color: #fff;

								&:hover {
									background-color: darken($facebook-blue, 20%);
								}
							}
						}

						&.instagram {
							font-weight: bold;

							a {
								background-color: $instagram-blue;
								color: #fff;

								&:hover {
									background-color: darken($instagram-blue, 20%);
								}
							}
						}

						&.linkedin {
							font-weight: bold;

							a {
								background-color: $linkedin-blue;
								color: #fff;

								&:hover {
									background-color: darken($linkedin-blue, 20%);
								}
							}
						}
					}
				}
			}

			.article-speaker-sessions {

				.article-speaker-session-label {
					font-weight: bold;
				}
			}
		}
	}

	.wpc-search-result-message {
		font-style: italic;

		.search-term {
			font-weight: bold;
		}
	}

	.wpc-content {
		min-height: 1px;
		padding: 0 0 15px 0;

		.columns {
			overflow: auto;

			.column.two {
				@include span-columns(6);
			}
		}

		ol, ul {

			&.columns.two {
				overflow: auto;

				li {
					list-style-position: inside;
				}

				@media screen and (min-width: $medium-up) {
					margin-left: 1.25rem;

					li {
						float: left;
						width: 50%;
					}
				}
			}
		}

		> *:first-child {
			margin-top: 0;
		}
	}

	.wpc-sidebar {
		min-height: 1px;
		margin: 3rem 0 0 0;
		padding: 2.6rem 0 0 0;
		border-top: 1px solid #eee;
		font-size: 0.9rem;

		.widget-title {
			font-size: 21px;
			line-height: 24px;
			font-weight: 300;
			color: #292F33;
			text-transform: uppercase;
			margin: 0 0 0.8rem 0;
			padding: 10px;
			border-bottom: 1px solid rgba( 15, 70, 100, .12 );
		}

		h4 {
			font-weight: normal;
			text-transform: uppercase;
		}

		ol, ul {
			margin-left: 0;

			li {
				display: block;
				list-style: none;
				margin: 5px 0 0 0;
				padding: 0 !important;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		.widget {
			margin: $paragraph-margin-vert 0;
			border-radius: 5px;

			&.tribe-events-list-widget {

				.tribe-event-title {
					margin: 0;
				}
			}

			&.gform_widget {
				margin-top: 24px;

				.sidebar-title {
					margin-top: -43px;
					margin-bottom: 8px;
				}
			}

			&:first-child {
				margin-top: 0;
			}
		}

		.wpc-sponsors-sidebar {

			h4 {
				font-weight: bold;
			}

			a {
				display: block;
			}

			.wpc-sponsor-logo {
				margin: $paragraph-margin-vert 0 0 0;

				&.sponsor-vp {
					width: 85%;
				}

				&.sponsor-grad {
					width: 68%;
				}

				&.sponsor-undergrad {
					width: 50%;
				}
			}
		}

		.twitter-timeline {

			.timeline-Header {
				padding: 10px;
			}

			.timeline-Header-title {
				font-size: 20px;
				line-height: 1;
				font-weight: 300;
				text-transform: uppercase;
			}
		}

		// Mailing list form
		#gform_wrapper_4 {
			margin: 0;

			label {
				display: block;
				font-size: .9rem;
				font-weight: bold;
			}

			input {
				width: 100% !important;

				&[type=text] {
					height: auto;
				}
			}

			.gform_footer {
				margin: 0;
				padding: 0;
			}
		}
	}

	@media screen and (min-width: $medium-up) {

		body.has-sidebar & {

			.wpc-content {
				@include span-columns(9);
			}

			.wpc-sidebar {
				@include span-columns(3);
				margin: 0;
				border: 0;
				padding: 0;
			}
		}
	}
}

// Our map element.
#wpcampus-2017-map {
	width: 100%;
	height: 600px;
	border: 0;
	padding: 0;
	margin: 0 0 -6px 0;
}

// Style the map page.
body.page-template-template-map {

	#wpc-main {
		padding: 0;

		> .inside {
			max-width: 100%;
			padding: 0;
		}
	}
}