// Hidden by default and displayed when populated
#wpc-notifications {
	display: none;
}

#wpc-notification {
	background: $wpc-royal-blue; // $wpc-light-gray;
	padding: $wpc-notif-padding;
	min-height: $wpc-notif-icon-height;
	width: 100%;
	z-index: 1000;
	color: #fff;

	* {
		font-size: inherit;
		color: inherit;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wpc-notification-message {
		text-align: left;
		vertical-align: middle;

		@media screen and (min-width: $wpc-menu-breakpoint) {
			position: relative;
			padding-left: $wpc-notif-icon-width + 20px;

			&:before {
				content: '';
				display: inline-block;
				line-height: inherit;
				width: $wpc-notif-icon-width;
				height: $wpc-notif-icon-height;
				background: url( '../images/information.png' ) 0 0 no-repeat;
				background-size: auto $wpc-notif-icon-height;
				opacity: 0.7;
				vertical-align: middle;
				margin: (0 - ($wpc-notif-icon-width/2)) 0 0 0;
				position: absolute;
				left: 0;
				top: 50%;
			}
		}
	}

	body.front & {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	@media screen and (max-width: ($wpc-menu-breakpoint - 1)) {
		.inside {
			padding: 0;
		}
	}
}